





<html lang="en">
    <head >
        <title style="color: brown">LOGIN</title>
        <meta name="author" content="Zaur">
        <meta descryption content="Presentation of website">
        <meta name="keywords" content="technology, cyber security, software">
        <meta http-equiv="refresh" content="100">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/user/signinstyle/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
		<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
		<div class="container forms" id="container">
			
			<div class="form sign-in">
				<form method="post" action="/admin/addproduct" enctype="multipart/form-data">
					<div class="header">Add Car</div>

					
                    <div class="button-input-group">
						<div class="group input-group">
                            <input type="text" placeholder="Type" required name="type">
                        </div>
                        <div class="group input-group">
                            <input type="text" placeholder="Brand" required name="brand">
                        </div>
                        <div class="group input-group">
                            <input type="text" placeholder="Car Name" required name="productName">
                        </div>
                        <div class="group input-group">
                            <input type="text" placeholder="Details" required name="discription">
                        </div>
                        <div class="group input-group">
                            <input type="number" placeholder="Price" required name="price">
                        </div> 
						<div class="group input-group">
                            <input type="file" placeholder="Choose an image" required name="image">
                        </div> 
					<div class="group button-group">
						<button type="submit" class="signup-btn">
							<span>Add Car</span>
						</button>
					</div>
				</div>
				</form>
			</div>
			
			<!--
			<div class="overlay-wrapper">
				<div class="overlay">
					<div class="overlay-panel overlay__left">
						<h1>Welcome Back!</h1>
						<p>Please login your personal info</p>
						
						<div class="group button-group">
						<button class="ghost" id="SignIn">
							<span>Sign in</span>
						</button>
					</div>
					</div>
					
					<div class="overlay-panel overlay__right">
						<h1>Hello, Friend!</h1>
            <p>Enter your personal details and start your journey with us</p>
						
						<div class="group button-group">
						<button class="ghost" id="SignUp">
							<span>Sign up</span>
						</button>
					</div>
					</div>
				</div>
			</div>
			-->
			
		</div>
		
		<!-- <footer>
			<p>Inspired by <a href="https://codepen.io/Rittenhouse" target="_blank">Zaur Suleymanlı</a>.</p>
		</footer> -->
		
		<script src="./javascripts/user/signinjs/sample.js"></script>
    </body>
</html>