




<%- include('../admin/layout/admin-header-layout.ejs') -%>


    <div class="col-lg">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Add Brand</div>
                <hr>
                <form action="/admin/addBrand" method="post">

                    <div class="form-group">
                        <label for="input-4">Brand</label>
                        <input class="form-control" id="input-4" type="text" placeholder="Brand" required name="brand">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success px-5"> Add Brand</button>
                    </div>
                </form>
            </div>
        </div>




        <div class="card">
            <div class="card-body ">
                <div style="display: flex; justify-content: space-between;">
                    <h5 class="card-title">All Brands</h5>
                </div>
                <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end"></div> -->
                <% if (brand.length == 0) { %> 
                    <div class="col-12 text-center">
                      <img src="https://ibellstore.com/images/no-item-found-here.png" alt="no order" style="width: 400px; height:300px ;">
                    </div>
                  <% } else { %> 
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Brand</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% brand.forEach(function(x) { %>
                                <tr>
                                    <td>
                                        <%= x.brand %>
                                    </td>
                                    <td>
                                    <form action="/admin/deletebrand/<%= x._id %>" method="post">
                                        <button type="submit" class="btn  btn-danger" style="width: 100px;"
                                            onclick="return confirm('Are you sure you want to delete ?')"><i class="bi bi-trash-fill"></i></button>
                                    </form>
                                </td>

                                    </td>

                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('../admin/layout/admin-footer-layout.ejs') -%>