
















<%- include('../admin/layout/admin-header-layout.ejs') -%>


    <div class="col-lg">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Add Vehicle Type</div>
                <hr>
                <form action="/admin/addvehicletype" method="post">

                    <div class="form-group">
                        <label for="input-4">Vehicle Type</label>
                        <input class="form-control" id="input-4" type="text" placeholder="Vehicle Type" required name="typeName">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success px-5"> Add Vehicle Type</button>
                    </div>
                </form>
            </div>
        </div>




        <div class="card">
            <div class="card-body ">
                <div style="display: flex; justify-content: space-between;">
                    <h5 class="card-title">Vehicle Types</h5>
                </div>
                <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end"></div> -->

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Vehicle Type</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% typeName.forEach(function(x) { %>
                                <tr>
                                    <td><%= x.typeName %></td>
    
                                    <td>
                                    <form action="/admin/deletevehicletype/<%= x._id %>" method="post">
                                        <button type="submit" class="btn  btn-danger" style="width: 100px;"
                                            onclick="return confirm('Are you sure you want to delete ?')"><i class="bi bi-trash-fill"></i></button>
                                    </form>
                                </td>

                                    </td>

                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include('../admin/layout/admin-footer-layout.ejs') -%>